<!----------------------------------------------- Hero buttons ----------------------------------------------->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                {% if site.hero_buttons %}
                {% for button_info in site.hero_buttons %}

                <button
                    class="hero btn btn-primary btn-lg .col-2 {% unless forloop.first %}collapsed{% endunless %}"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ button_info.section }}"
                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                    aria-controls="{{ button_info.section }}"
                >
                    {% if button_info.icon %}
                    <i class="fa-solid {{ button_info.icon }} fa-lg me-1"></i>
                    {% endif %}
                    {{ button_info.name }}
                </button>

                {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- -------------------------------- Hero Sections ---------------------------->
<div>
    <div class="collapse show" id="experience">
        {% include experience.html %}
    </div>

    <div class="container collapse" id="projects">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h2>Projects</h2>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container collapse" id="patents">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h2>Patents</h2>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container collapse m-2" id="publications">
        {% include publications.html %}
    </div>

</div>
