<!----------------------------------------------- Hero buttons ----------------------------------------------->
{% if site.hero_buttons %}
<div class="mt-5 mb-5">
<ul class="ps-4 pe-4 nav nav-pills justify-content-center" id="hero-buttons" role="tablist">
    {% for button_info in site.hero_buttons %}
    <li class="nav-item" role="presentation">
        <button
            class="hero mt-1 mb-1 nav-link {% if forloop.first %}active{% endif %}"
            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
            id="{{ button_info.section }}-tab"
            data-bs-toggle="pill"
            data-bs-target="#{{ button_info.section }}"
            type = "button"
            role = "tab"
            aria-controls="{{ button_info.section }}"
        >
                {% if button_info.icon %}<i class="fa-solid {{ button_info.icon }} fa-lg me-1"></i>{% endif %}{{ button_info.name }}
        </button>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

<!-- -------------------------------- Hero Sections ---------------------------->
<div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="experience-tab" id="experience">
        {% include experience.html %}
    </div>

    <div class="tab-pane fade" role="tabpanel" aria-labelledby="projects-tab" id="projects">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h2>Projects</h2>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" role="tabpanel" aria-labelledby="patents-tab" id="patents">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-content">
                    <h2>Patents</h2>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" role="tabpanel" aria-labelledby="publications-tab" id="publications">
        {% include publications.html %}
    </div>

    <div class="tab-pane fade" role="tabpanel" aria-labelledby="publications-tab" id="videos">
        {% include videos.html %}
    </div>

</div>
