<div class="d-flex flex-column gap-2 ms-md-4 me-md-4 mt-5">
    {% for project in site.data.projects %}
    <hr class="border-dark">
    <div class="row col-12">
        <h1 class="text-center">{{ project.title }}</h1>
    </div>
    <hr class="border-dark-subtle">
    <div class="d-block d-md-none">
        {% include project_sans_clip.html %}
    </div>
    <div class="d-none d-md-block">
        {% if project.clip %}
        {% include project_with_clip.html project=project %}
        {% else %}
        {% include project_sans_clip.html %}
        {% endif %}
    </div>
    {% endfor %}
</div>
