<div class="row d-flex flex-wrap ms-2">
    {% if project.screenshot2 %}
    <div class="ps-2 pe-2 col-md-7 border-dark-subtle shadow-sm">
        <img class="img-responsive" src="/img/projects/{{ project.screenshot2 }}" alt="{{ project.website }}"></img>
    </div>
    {% endif %}
    <div class="col-md-5 on-top">
        <p class="lead"><strong>{{ project.lead | markdownify }}</strong></p>
        <p>{{ project.description | markdownify }}</p>
        <!-- Info card -->
        <div class="project-card">
            <h5 class="m-2">Key project information</h5>
            <ul class="list-unstyled ps-2 pe-2">
                <li>
                    <i class="fa fa-globe me-1"></i><a class="socials" href="{{ project.website }}" target="_blank">Website</a>
                </li>
                <li>
                    <i class="fab fa-github me-1"></i><a class="socials" href="{{ project.github }}" target="_blank">Source
                    code</a>
                </li>
                <li>
                    <i class="fa fa-gears me-1"></i>{{ project.tech_stack }}
                </li>
            </ul>
        </div>
    </div>
</div>
