@import "mixins";

.profile-img {
  border: #0a0a0a solid 5px;

}

a.socials {
    color: #0a0a0a;
    padding-left: 0.5em;
    text-decoration: none;
    @include transition(color .2s ease-in-out);
    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
}

a.publications {
  color: #0a0a0a;
  text-decoration: none;
  @include transition(color .2s ease-in-out);
  &:hover {
    color: $secondary;
    text-decoration: underline;
  }
}

.video-content {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.video-content iframe {
  width: 100%;
  max-width: 560px;
  height: 100%;
}

.video-content-lg {
  max-width: 650px;
}

div.project-card {
  border: 1px solid $gray-300;
  font-size: 10pt;
  width: 100%;
  //box-shadow: $primary 0px 0px 10px;
}

.shift-up-left {
  transform: translate(0%, -25%);
  z-index: 1; /* Ensure it overlaps other elements */
}

.on-top {
    z-index: 10;
}

.col-overflow {
  margin-left: 0%; /* Adjust to overflow into adjacent columns */
  width: calc(100% + 25%); /* Adjust to maintain the 7 columns width */
}

// Make the text in tables smaller on mobile
@media (max-width: 575.98px) {
  .table {
    font-size: 9pt;
  }
}
